<article>
    <h2>The Value of Money</h2>
    <figure class="img">
        <img src="img/home/1.png">
        <figcaption>Money makes you question its importance.</figcaption>
    </figure>    
    <p>
        Money in its absolute basic form is a tool. and the usefulness this tool depends how it's used. Just like how cave people used their arbitrary tools to lay the foundations of civilization, money can also be used in a similar way to build and advance civilization and human kind into the next step of evolution. It is infinitely superior to something like barter system which relied on the coincidence of wants between the parties doing the bartering.
        <br>
        <br>
        The value of money isn't its physical form, but more so the omnipresent functionality it brings and what said functionality allows us to achieve. It provides us with the freedom to make important lifestyle choices that can shape who we are as people, our living conditions and even our future. It also acts as a deterrent in the case of unexpected setbacks and allows us to have a safety net to fall back on which gives us more options to further analyze and deal with a particularly hard situation.
        <br>
        <br>
        It is however also necessary to understand that money doesn't necessarily have any innate or inherent value. Whatever value money has is man and culture made and that's an important factor that we should consider as it is far too often seen that individuals put so much value on money that they neglect the fundamental parts of a human existence such as family, experience and interpersonal relationships. Animals do not have any value for money and we shouldn't forget either that in the grand scheme of things, money isn't the most important.
        <br>
        <br>
        Ultimately, coming back to my first point, money is absolutely a tool. It can be a tool of great power, creation and destruction. It can be a tool of opulence, excess and wastefulness. It can be a tool of responsibility, security and the future. It can be a tool that is absolutely useless and isn't of too much use. Whatever this tool's value merely depends on the individual that wields it and uses it. 
    </p>
</article>
<hr class="footer-line">
<article>
    <h2>GMO Food</h2>
    <figure class="img">
        <img src="img/home/2.png">
        <figcaption>Banana's used to be so wildly different.</figcaption>
    </figure>    
    <p>
        Generically Modified Food is a product of years if scientific research and testing by making changes into the genetic functions of edible plants which results in higher yields, better food quality and longevity and introduces new and impressive traits, weeds out unwanted traits, all of which is ultimately aimed at producing overall benefits through processes such as selective mutation breeding. 
        <br>
        <br>
        Commonly consumed fruits and vegetables looked wildly different before being genetically engineered and modified to look the way their modern counterparts do. Watermelons had barely any edible parts and were full of giant seeds, also a case with bananas, which also used to be full of seeds. Similar differences can be noticed in other examples such as eggplants, carrots, corn, peach, etc. which is a testament to the severe advancements in our understanding of genetic mutations and engineering.
        <br>
        <br>
        Another benefit of Genetically modified foods is the increase in general human health across our entire populace. As scientists are able to target such highly specific part of the genetic makeup that they make a certain vegetable produce a lot more of a desired nutrient, thus exponentially increasing the nutritional value of the food we consume, leading to better physical and mental health which thus leads to overall happiness and a higher quality and standard of living.
        <br>
        <br>
        However, perchance there are a rather sizeable amount of opponents who continually object the existence of genetically modified foods on several grounds such as environmental concerns, health risks to specific people and species and economic concerns such the destruction of the natural and heirloom plants by replacing them with man made versions. Despite this, it seems that genetically modified foods are here to stay as we see an uprise in problems population growth, climate change and post harvest issues caused by said problems.
    </p>
</article>
<hr class="footer-line">
<article>
    <h2>The View of World in 2100</h2>
    <figure class="img">
        <img src="img/home/3.png">
        <figcaption>Humans of the future would look different.</figcaption>
    </figure>    
    <p>
        The world as we know it would be a lot different by the year 2100. Technology may have another massive stratospheric boom like the rise of internet and smartphones in the early 2000s or we might see it completely plateau but see developments in other areas. brain chip implants might be a commonplace, thus eliminating the needs of mobile phones and computers as our brains are infinitely more powerful but could also lead to new neurological that we aren't yet privy to.
        <br>
        <br>
        Environment would be vastly different. we are already in the midst of an insect apocalypse and the disappearing of birds like sparrows from our neighbourhoods. We might see straight up extinctions of many species, including sharks who have been on earth longer than trees have existed. We may also see newer mutations and we might even see a rise and takeover by cordyceps due to climate changes and increased temperatures.
        <br>
        <br>
        We would also see massive shifts in society and culture as a whole with new ideas and more appreciation and acceptance or we might see a bigger rift and cultural divide fuelled by arbitrary hate and politics which could lead to further cultural isolation and regression and would make big cities even bigger and more culturally important as a hub for exchange of ideas and values and would play a greater role in human civilization moving forward.
        <br>
        <br>
        We would also see massive strides done towards city planning and how we interact with infrastructure. We could see more disabled friendly infrastructure, and rise of multi level cities with variable ground heights such as what we can already see into the Chinese city of Chongqing. We would also see expansions of the road network, public transport and maybe even see new innovations in air and space travel.
    </p>
</article>
