<ul class="port-list">
    <li>
        <div class="card">
            <figure>
                <img src="img/portfolio/1.png">
                <figcaption>Rockcliffe</figcaption>
            </figure>
        </div>
    </li>
    <li>
        <div class="card">
            <figure>
                <img src="img/portfolio/2.png">
                <figcaption>Illusion</figcaption>
            </figure>
        </div>
    </li>
    <li>
        <div class="card">
            <figure>
                <img src="img/portfolio/3.png">
                <figcaption>Artemis</figcaption>
            </figure>
        </div>
    </li>
    <li>
        <div class="card">
            <figure>
                <img src="img/portfolio/4.png">
                <figcaption>Sequoia</figcaption>
            </figure>
        </div>
    </li>
    <li>
        <div class="card">
            <figure>
                <img src="img/portfolio/5.png">
                <figcaption>Hades</figcaption>
            </figure>
        </div>
        
    </li>
    <li>
        <div class="card">
            <figure>
                <img src="img/portfolio/6.png">
                <figcaption>Arabella</figcaption>
            </figure>
        </div>
    </li>
</ul>